.row
  .span12
    .hero-unit
      %h2 Kurso de Esperanto
      %a.btn.btn-large.btn-primary{href: lernado_path(locale: I18n.locale)}
        %i.icon-book
        Komenci lerni
      %a.btn.btn-large{href: helpo_path(locale: I18n.locale)}
        %i.icon-question-sign
        Ricevi helpon
