.jumbotron
  .container
    %h1 Kurso de Esperanto
    %a.btn.btn-lg.btn-primary{href: leciono01_path}
      Komenci lerni »
    %a.btn.btn-lg.btn-default{href: "http://esperanto.net/info/index_#{I18n.locale}.html", target: '_new'}
      %i.icon-question-sign
      Esperanto?
