.row
  .span12
    .hero-unit
      %h2 Kurso de Esperanto
      %a.btn.btn-large.btn-primary{href: leciono01_path}
        %i.icon-book
        Komenci lerni
      %a.btn.btn-large{href: "http://esperanto.net/info/index_#{I18n.locale}.html", target: '_new'}
        %i.icon-question-sign
        Esperanto?
