.row
  .span12
    .hero-unit
      %h2 Kurso de Esperanto
      %a.btn.btn-large.btn-primary{href: leciono01_path}
        %i.icon-book
        Komenci lerni
      %a.btn.btn-large{href: helpo_path}
        %i.icon-question-sign
        Ricevi helpon
