%h2 Helpo
%ul.unstyled
  %li
    %a{href: "http://esperanto.net/info/index_#{I18n.locale}.html", target: '_new'}
      esperanto.net
      %i.icon-external-link-sign
  %li
    %a{href: "http://kurso.com.br/index.php?#{I18n.locale}", target: '_new'}
      Kurso de Esperanto
      %i.icon-external-link-sign
  %li
    %a{href: "http://#{I18n.locale}.lernu.net", target: '_new'}
      Lernu!
      %i.icon-external-link-sign
