%h2= t '.titolo'
%p= t '.ekspliko'
%ul.row
  %li.span4
    %ul.inline
      %li.eo A
      %li.eo ami
      %li.eo ia
  %li.span4
    %ul.inline
      %li.eo B
      %li.eo bela
      %li.eo bona
  %li.span4
    %ul.inline
      %li.eo C
      %li.eo celo
      %li.eo scienco
  %li.span4
    %ul.inline
      %li.eo Ĉ
      %li.eo ĉio
      %li.eo peĉo
  %li.span4
    %ul.inline
      %li.eo D
      %li.eo diri
      %li.eo granda
  %li.span4
    %ul.inline
      %li.eo E
      %li.eo eskalo
      %li.eo ĝene
  %li.span4
    %ul.inline
      %li.eo F
      %li.eo feŭdo
      %li.eo feino
  %li.span4
    %ul.inline
      %li.eo G
      %li.eo gusta
      %li.eo ago
  %li.span4
    %ul.inline
      %li.eo Ĝ
      %li.eo ĝiri
      %li.eo ĝusta
  %li.span4
    %ul.inline
      %li.eo H
      %li.eo horo
      %li.eo hajlo
  %li.span4
    %ul.inline
      %li.eo Ĥ
      %li.eo ĥoro
      %li.eo eĥo
  %li.span4
    %ul.inline
      %li.eo I
      %li.eo ie
      %li.eo ĝeni
  %li.span4
    %ul.inline
      %li.eo J
      %li.eo juro
      %li.eo prujno
  %li.span4
    %ul.inline
      %li.eo Ĵ
      %li.eo ĵuro
      %li.eo ĵurnalo
  %li.span4
    %ul.inline
      %li.eo K
      %li.eo knabo
      %li.eo hoko
  %li.span4
    %ul.inline
      %li.eo L
      %li.eo ŝelo
      %li.eo alto
  %li.span4
    %ul.inline
      %li.eo M
      %li.eo ame
      %li.eo iam
  %li.span4
    %ul.inline
      %li.eo N
      %li.eo kanabo
      %li.eo ruino
  %li.span4
    %ul.inline
      %li.eo O
      %li.eo oro
      %li.eo ravo
  %li.span4
    %ul.inline
      %li.eo P
      %li.eo peco
      %li.eo peso
  %li.span4
    %ul.inline
      %li.eo R
      %li.eo roko
      %li.eo ero
  %li.span4
    %ul.inline
      %li.eo S
      %li.eo selo
      %li.eo scii
  %li.span4
    %ul.inline
      %li.eo Ŝ
      %li.eo ŝerco
      %li.eo ŝia
  %li.span4
    %ul.inline
      %li.eo T
      %li.eo tio
      %li.eo felto
  %li.span4
    %ul.inline
      %li.eo U
      %li.eo ju
      %li.eo agu
  %li.span4
    %ul.inline
      %li.eo Ŭ
      %li.eo aŭto
      %li.eo adiaŭ
  %li.span4
    %ul.inline
      %li.eo V
      %li.eo vejno
      %li.eo kvita
  %li.span4
    %ul.inline
      %li.eo Z
      %li.eo pezo
      %li.eo okazi
