%h2#datoj= t '.titolo'
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt 13 jan. 1964
  %dd La dektria (tago) de januaro (en la jaro) mil naŭcent sesdek kvar
  %dt 4 dec. 1958
  %dd La kvara de decembro mil naŭcent kvindek ok
  %dt 14 jul. 1887
  %dd La dekkvara de julio mil okcent okdek sep
