@import "bootstrap/variabloj";
@import "bootstrap/miksajxoj";

.koloro {
  min-width: @baseFontSize * 2;
  height: @baseFontSize * 2;
  border: 2px solid @black;
}

.eo {
  color: #ff6333;
  text-decoration: none;
  font-weight: normal;
}

.muziko {
  float: left;
  position: relative;
  left: 50%;
}

.muziko iframe {
  float: left;
  position: relative;
  right: 50%;
}
