%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      %button.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "kurso", root_path(locale: I18n.locale), class: 'brand'
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li
            %a{href: lernado_path(locale: I18n.locale)}
              %i.icon-book
              Lernado
          %li
            %a{href: helpo_path(locale: I18n.locale)}
              %i.icon-question-sign
              Helpo
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              %i.icon-globe
              = lingvo_nomo(I18n.locale, true)
              %b.caret
            %ul.dropdown-menu
              = lingvo_selektado_opcioj
